@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(235, 235, 175, 0.5);
}

.heart{
    position: fixed;
    top: -1vh;
    transform: translateY(-100%);
    animation: fall 3s linear forwards;
    font-size: 2rem;
    color: red;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 0.5s ease-in;
    background-color: aqua;
}

#rightArrowBtn{
position: absolute;
top: 0;
right: 0;
transform: translateX(100%);
border-radius: 0;
background-color: aqua;
color: black;
margin: 0;
}

.menu{
    display: flex;
    flex-direction: column;

    margin: 2rem 1rem;
}

.hidden{
    /* transform: translateX(-100%); */
}

.btn{
    width: fit-content;
    margin: 0.5rem 0rem;
    cursor:pointer;
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: rebeccapurple;
    color: white;
}

.btn:active:not(#rightArrowBtn){
    color: black;
    background-color: aqua;
}

@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}