body{
    margin: 0%;
    padding: 0%;
}

.dashboard{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #A2DBFA;
}

.heading{
    text-align: center;
}

.heading > h2 , .heading > button{
    margin: 0%;
    position: relative;
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading > h2{
    font-size: 3rem;
}

.heading > #demo {
    font-size: 2rem;
    margin-top: 1%;
}
.quiz-box{
    display: flex;
    height: 70%;
    width: 70%;
    justify-content: space-around;
    flex-direction: column;
    background-color: #39A2DB;
}

.quiz-header{
    background-color:#053742;
    width: 100%;
    height: 30%;
    color: aqua;
    display: flex;
    justify-content:space-around;
    align-items:baseline;
    padding-top: 2rem;
    font-size: 2rem;
}

.quiz-details{
    width: 100%;
    height: 70%;
    position: relative;
    display: none;
}

.quiz-container{
    height: 110%;
    width: 80%;
    background-color: #E8F0F2;
    position: absolute;
    left: 10%;
    bottom: 10%;
    box-shadow: 5px 5px 20px;
    font-size: 1.5rem;
}

.quiz-container p{
    padding: 0%;
}

#question_number{
    margin-bottom: 1%;
}

.question-name{
    margin: 4% 4% 0%;
}

.question-name p{
    margin: 0;
}

.options ul{
    margin: 2% 0% 0%;
    list-style: none;
}

.button-box{
    text-align: center;
}

#next{
    font-size: 1.5rem;
    margin-top: 2%;
}

@media (max-width: 976px){
    .dashboard > h2{
        font-size: 2rem;
    }
    .dashboard > p{
        font-size: 1rem;
    }
    .quiz-header{
        font-size: 1.5rem;
        padding-top: 1.5rem;
    }
    .quiz-container{
        font-size: 1.0rem;
    }
    #next{
        font-size: 1.0rem;
        margin-top: 1%;
    }
}

@media (max-width: 512px){
    .dashboard > h2{
        font-size: 1.0rem;
    }
    .dashboard > p{
        font-size: 0.5rem;
    }
    .quiz-header{
        font-size: 1.0rem;
        padding-top: 1.0rem;
    }
    .quiz-container{
        font-size: 1.0rem;
    }
}