@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    background: linear-gradient(to right, #cbd0e6, #5fc4b1);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img{
    max-width: 100%;
}

.mobile-container{
    margin: 1%;
    background-color: white;
    width: 400px;
    box-shadow: 0 0 10px 2px #3A333333;
    border-radius: 3px;
    overflow: hidden;
    font-size: 0.8rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
header input{
    background-color:wheat;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header button{
    background: transparent;
    color: rgb(168, 156, 156);
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container{
background-color: rgba(136, 115, 255, 0.52);
padding: 0.5rem 1rem;
text-align: center;
}

.fav-container h3{
    margin: 0px;
}

.fav-meals{
    list-style-type:none;
    display: flex;
    padding: 0%;
    flex-wrap: wrap;
    margin-bottom: 1%;
    margin-top: 0%;
}

.fav-meals li{
/* background-color: whitesmoke; */
display: inline-block;
width: 80px;
text-align: center;
margin: 0px 5px;
}

.fav-meals li img{
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3A333333;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.fav-meals li span{
    font-size: 0.65rem;
    /* word-break: break-all; */
    /* width: 30px; */
}

.meal{
margin: 1.5rem;
box-shadow: 0 0 10px 2px #3A333333;
border-radius: 3px;
}

.meal-header{
position: relative;
}

.meal-header .random{
position: absolute;
top: 1rem;
background-color: aliceblue;
padding: 0.25rem 0.5rem;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

.meal-header img{
height: 250px;
width: 100%;
object-fit: cover;
}

.meal-body{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5rem 1rem;
}

.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn{
    border: none;
    background: transparent;
    font-size: 1.2rem;
    color:rgb(168, 191, 199);
    cursor: pointer;
}

.meal-body .fav-btn.active{
    color: rebeccapurple;
}