@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1{
    color: rgb(179,131,226);
    font-size: 7rem;
    text-align: center;
    opacity: 0.5;
}

form{
    max-width: 100%;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: auto;
}

.input{
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 100%;
    display: block;
    border: none;
    outline: none;
}

.input::placeholder{
    color: #b5b5b5;
}

.todos{
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.todos li{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-top: 1px solid #e5e5e5;
}